#foot-wrap {
    /*  STYLING  */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    background: var(--color-brown);
    color: var(--color-white);
    /*  POSITIONING  */
    text-align: center;
    height: auto;
    padding: 4px 0px;
}
@media screen and (max-width: 600px) {
    #foot-wrap {
        font-size: 0.75rem
    }
}
