/* Styling for page listing all songs in songbook */

#body-wrap {
    width: max(50%, 500px);
    margin: 0 auto;

    font-family: 'Josefin Sans', sans-serif;
}

#body-wrap h2 {
    text-align: center;
}

#body-wrap ul {
    /* Less left padding */
    padding-inline-start: 20px;
    list-style-type: "\2192";
}

#body-wrap ul li {
    padding-left: 8px;
}
