/* Styling for page listing all songs in songbook */

#body-wrap {
    width: max(50%, 500px);
    margin: 0 auto;

    font-family: 'Josefin Sans', sans-serif;
}

#body-wrap h2 {
    text-align: center;
}
