div#body-wrap {
    width: 55%;
    margin: 0 auto;
}

#song-metadata {
    text-align: center;
}

#song-body .chord:not(:last-child) {
    padding-right: 10px;
}

#song-body .paragraph {
    margin-bottom: 1em;
}

#song-body .row {
    display: flex;
}

#song-body .chord:after {
    content: '\200b';
}

#song-body .lyrics:after {
    content: '\200b';
}
