div#body-wrap {
    display: grid;
    /* grid-template-areas: ". name name ." ". chords-head songs-head ." ". chords songs ."; */
    /* grid-template-columns: auto repeat(2, 28%) auto; */
    
    grid-template-areas: ". name ." ". songs-head ." ". songs .";
    grid-template-columns: auto repeat(1, 28%) auto;

    grid-column-gap: 4px;
    justify-items: center;
}
#student-name {
    grid-area: name;
}
#chords {
    grid-area: chords;
    
    display: none;
}
#songs {
    grid-area: songs;
}
#chords,
#songs {
    justify-self: start;
    width: 100%;
    margin: 1em 0px;
}
