/* -----GLOBAL STUFF----- */

@import url(./vars.css);

body {
    background: var(--color-white);
    font-size: 100%;
    margin: 0px;
    min-height: 100%;
    
    display: grid;
    grid-template-areas: "head" "body" "foot";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-row-gap: 12px;
    align-items: start;
    /*  1st row could be 139px  */
}
html {
    height: 100%;
}
#head-wrap {
    grid-area: head;
}
#body-wrap {
    grid-area: body;
}
#body-wrap.standard {
    text-align: center;
}
#body-wrap.standard > p {
    font-family: 'Open Sans', sans-serif;
}
#foot-wrap {
    grid-area: foot;
    /* margin-bottom: -12px; */
}
h1,
h2,
h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    color: var(--color-black);
    margin: 0px;
}
a {
    color: var(--color-red);
    fill: var(--color-red);
    background: transparent;
    /*    transition: background 1s color 1s;*/
}
a:hover {
    background: var(--color-red);
    color: var(--color-yellow);
    fill: var(--color-yellow);
}
a:visited:hover {
    background: var(--color-darkred);
    color: var(--color-yellow);
    fill: var(--color-yellow);
}
a:visited {
    background: transparent;
    color: var(--color-darkred);
    fill: var(--color-darkred);
}
@media screen and (min-width: 600px) {
    a:focus {
        background: var(--color-red);
        color: var(--color-yellow);
        fill: var(--color-yellow);
    }
    a:focus:hover {
        background: var(--color-darkred);
        color: var(--color-yellow);
        fill: var(--color-yellow);
    }
}
.bordered {
    padding: 8px;
    border: var(--color-orange) 2px solid;
    border-radius: 5px;
    box-sizing: border-box;
}
.noselect {
    /* Safari 3.1+ */
    -webkit-user-select: none;
    /* Firefox 2+ */
    -moz-user-select: none;
    /* IE 10+ */
    -ms-user-select: none;
    user-select: none;
}

/* styling for `songlist.html` include */
ul.songlist {
    font-family: 'Josefin Sans', sans-serif;

    margin: 0;
    padding-inline-start: 20px;
    list-style-type: '\2192';

    li {
        padding-left: 4px;

        &:has(+li) {
            padding-bottom: 2px;
        }
    }
}
