<div id="title-wrap">
    <span id="head-logo" class="noselect">
<!--
      <a href="/index.html"
        {% if page.name == "index.html" %}
          style="pointer-events:none; cursor:default;"
        {% endif %}>
-->
        <span class="titlebracket">{</span><span class="titletext"> Valdman Works </span><span class="titlebracket">}</span>
<!--      </a>-->
    </span>
    <span id="head-sub" class="noselect">audio, music, apps, design</span>
    
    <a href="https://bento.me/edon" target="_blank" id="bento-icon" class="styled">
        <!--<i class="icon evald-sc"></i>-->

        <svg height="42" width="42" viewBox="0 0 50 50">
            <use xlink:href="#bento"/>
        </svg>
    </a>
    <a href="https://linkedin.com/in/evaldman" target="_blank" id="li-icon" class="styled">
        <!--<i class="icon evald-li"></i>-->

        <svg height="42" width="42" viewBox="0 0 50 50">
            <use xlink:href="#linkedin"/>
        </svg>
    </a>
    <a href="mailto:edon@valdman.works" id="mail-icon" class="styled">
        <!--<i class="icon evald-mail"></i>-->

        <svg height="42" width="42" viewBox="0 0 50 50">
            <use xlink:href="#mail"/>
        </svg>
    </a>
</div>
<div id="nav-wrap">
    <div class="subnav nav-item works">
        <span><a class="styled nav-link works" href="/index.html">Works</a></span>
        <div class="subnav-content">
            {% assign works = site.works | sort: 'project-name' %}
            {% for work in works %}
                <span><a class="styled nav-link {{ work.object-id }}" href="{{ work.url }}">{{ work.title }}</a></span>
            {% endfor %}
        </div>
    </div>
<!--    {% assign current = page.name | downcase | split: '.' %}-->
    <span class="nav-item res"><a class="styled nav-link res" href="/resume.html">Resume</a></span>
    <span class="nav-item abt"><a class="styled nav-link abt" href="/about.html">About</a></span>
    <span class="nav-item con"><a class="styled nav-link con" href="/contact.html">Contact</a></span>

    <svg id="menu-btn" height="24" width="26" stroke-width="4" stroke-linecap="round" onclick="menuBtn(this)">
        <path d="M2,2  L24,2" />
        <path d="M2,12 L24,12" />
        <path d="M2,22 L24,22" />
    </svg>
</div>
