<!-- Input parameter `songs` is array in the format of `_data/songs.json` -->
{%- assign songs = include.songs | sort: "name" %}

<ul class="bordered songlist">
{%- if songs.size > 5 %}
    {%- assign artists = songs | map: "artist" | uniq | sort %}
    {%-for artist in artists %}
        <h3>{{ artist }}</h3>
        {%- assign artist_songs = songs | where: "artist", artist %}
        {%-for song in artist_songs %}
        <li><a href="{{ site.url }}/music/songs/{{ song.fileName | slugify }}">{{ song.name }}</a></li>
        {%- endfor %}
    {%- endfor %}
{%- else %}
    {%-for song in songs %}
    <li><a href="{{ site.url }}/music/songs/{{ song.fileName | slugify }}">{{ song.name }} &ndash; {{ song.artist }}</a></li>
    {%- endfor %}
{%- endif %}
</ul>
