<!DOCTYPE html>
<html>

<head>

    {% include head.html %}

    <script>
        var btn,
            btnS,
            strokeW;
        var minXY,
            maxX,
            maxY,
            midY;

        function setValues() {
            btn = document.querySelector('#menu-btn'),
                btnS = btn.getAttribute('height'),
                strokeW = btn.getAttribute('stroke-width');
            minXY = strokeW / 2, //3
                maxX = btnS, //36
                maxY = btnS - minXY, //33
                midY = btnS / 2; //18
        }

        function menuBtn(x) {
            x.classList.toggle("change");
            if (x.classList.contains("change")) {
                x.childNodes[1].setAttribute("d", "M" + minXY + "," + minXY + " L" + maxX + "," + maxY);
                x.childNodes[5].setAttribute("d", "M" + minXY + "," + maxY + " L" + maxX + "," + minXY);
            } else {
                //minXY,minXY maxX,minXY
                x.childNodes[1].setAttribute("d", "M" + minXY + "," + minXY + " L" + maxX + "," + minXY);
                x.childNodes[5].setAttribute("d", "M" + minXY + "," + maxY + " L" + maxX + "," + maxY);
            }
        }

    </script>

</head>

<body id="{{ page.bodyid }}">

    <div id="head-wrap">
        {% include header.html %}
    </div>

    <div id="body-wrap" class="{{ page.body-classes }}">
        {{ content }}
    </div>

    <div id="foot-wrap">
        &copy; 2019 Valdman Works
    </div>


</body>

</html>
