---
layout: default
---

<div id="song-metadata">
<h2>{{ page.name }} - {{ page.artist }}</h2>
{%- if page.capo %}
<h3>Capo {{ page.capo }}</h3>
{%- endif %}
</div>

<div id="song-body"></div>

<script src="/js/chordSheetJS.js"></script>
<script defer>
    // ChordSheetJS is available in global namespace now
    const parser = new ChordSheetJS.UltimateGuitarParser();
    const chordSheet =
    `
    {{ page.content | strip_html }}
    `
    .trim();
    const song = parser.parse(chordSheet);
    const formatter = new ChordSheetJS.HtmlDivFormatter();
    const disp = formatter.format(song);
    const songBodyDiv = document.getElementById('song-body');
    songBodyDiv.innerHTML = disp;
</script>
