---
layout: default
---
<h2 id="student-name">{{ page.name }}</h2>

<h3 style="grid-area: chords-head;">Chords</h3>

<div id="chords">
    <ul>
        {% for ch in page.chords %}
        <li>{{ ch }}</li>
        {% endfor %}
    </ul>
</div>

<h3 style="grid-area: songs-head;">Songs</h3>

<div id="songs">
    {{ page.songs | join: ", " }}
    <ul>
    {% for song-slug in page.songs %}
        {% assign song = site.songs[song-slug] %}
        <li><a href="{{ song.url }}">{{ song.name }} ({{ song.artist }})</a></li>
    {% endfor %}
    </ul>
</div>
