---
layout: default
---
<h2 id="student-name">{{ page.name }}</h2>

<h3 style="grid-area: chords-head; display: none;">Chords</h3>

<div id="chords">
    <ul>
        {% for ch in page.chords %}
        <li>{{ ch }}</li>
        {% endfor %}
    </ul>
</div>

<h3 style="grid-area: songs-head;">Songs</h3>

<div id="songs">
    {%- assign songs = "" | split: "," %}
    
    {%- for songname in page.songs %}
        {%- assign song = site.data.songs | where: "fileName", songname | first %}
        {%- if song %}
            <!-- `push` might eventually need to be changed to `append` -->
            {%- assign songs = songs | push: song %}
        {%- endif %}
    {%- endfor %}
    {% include songlist.html songs=songs %}
</div>
