---
layout: default
---
<h2 id="student-name">{{ page.name }}</h2>

<h3 style="grid-area: chords-head;">Chords</h3>

<div id="chords">
    <ul>
        {% for ch in page.chords %}
        <li>{{ ch }}</li>
        {% endfor %}
    </ul>
</div>

<h3 style="grid-area: songs-head;">Songs</h3>

<div id="songs">
    {{ site.collections.songs | map: "name" }}
    <ul>
    {% for songname in page.songs %}
        {% assign song = site.songs | where: "slug", songname | first %}
        {%- if song %}
        <li><a href="{{ song.url }}">{{ song.name }} ({{ song.artist }})</a></li>
        {%- endif %}
    {% endfor %}
    </ul>
</div>
