---
layout: default
---
<div id="page-titles">
    <h2 id="page-title">{{ page.title }}</h2>
    <h3 id="page-subtitle">{{ page.date-range }}</h3>
</div>
<div id="desc-side" class="bordered">
    {{ page.content }}
</div>
<div id="slide-side">
    <my-carousel id="crsl" class="bordered" img-dir="{{ page.img-dir }}">
        {% assign pics = site.data.images[page.slug] %}
        {% if pics %}
            {% for pic in pics | sort: "order" %}
                {% capture fullpath %}/images/{{ page.slug }}/{{ pic.fileName }}{% endcapture %}
                <span src="{{ fullpath }}" 
                {% if pic.desc != "" and pic.desc != nil %}
                    desc="{{ pic.desc }}"
                {% endif %}
                ></span>
            {% endfor %}
        {% endif %}
    </my-carousel>
    
</div>

<!--images/ra/raRemote.png, images/ra/raRemoteEdit.png, images/ra/raRemoteDrag.png, images/ra/raNewRemote1.png, images/ra/raNewRemote2.png, images/ra/raNewRemote3.png-->
<!--Remote Page, Remote Edit Page, Remote Setup Page, Remote Setup Page, Remote Setup Page, Remote Setup Page-->
